<h1>Welcome!</h1>
<p>Gabriel Victor</p>

<p> <%= 1+1 %> </p>
<p> Your name reversed is: <%= "gabriel".reverse %> </p>
<p> Your name in uppercase is: <%= "gabriel".upcase %> </p>

<% a = "My variable a" %>
<p> Printing variable a: <%= a %> </p>
<p> Today's date is: <%= Date.today %> </p>
