<h1>Welcome!</h1>
<p> <strong> Date: </strong> <%= br_date(Date.today) %> </p>
<p> <%= aplication_name %> </p>

<%= render "menu" %>

<p>
  Hello <strong><%= @my_name %></strong>! You are in <strong> <%= environment_rails %></strong> environment 
</p>

<p>
  I'm currently studying <strong> <%= @my_course %> </strong>
</p>