<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet - Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <strong>
      <p>Restricted Admin Area</p>
    </strong>
    <%= yield %>
  </body>

  <footer style="text-align: center; padding: 20px; position: fixed; width: 100%; bottom: 0;">
    <p>Developed by 
      <%= link_to '@bielwdev', 'https://github.com/bielwdev', target: '_blank', rel: 'noopener noreferrer', style: 'color: #007bff; text-decoration: none;' %>
    </p>
  </footer>

</html>
